@model DoAnCNPM.Models.Staff

@{
    ViewData["Title"] = "Xóa Nhân viên";
    Layout = "_DashboardLayout";
}
<link rel="stylesheet" href="/css/quanli.css" />
<script src="/js/quanli.js"></script>
<h2 class="page-title">Xóa Nhân viên</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<p>Bạn có chắc chắn muốn xóa nhân viên <strong>@Model.NameStaff</strong> không?</p>

<form asp-action="DeleteConfirmed" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Staff_ID" />

    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="DSNhanVien" class="btn btn-secondary">Hủy</a>
</form>
